<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>
				%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n - %throwable{full}
			</Pattern>
		</encoder>
		<filter class="ch.qos.logback.core.filter.EvaluatorFilter">

			<evaluator name="app.error">

				<expression>message.contains("SYS_LOG: ")</expression>

			</evaluator>

			<OnMatch>ACCEPT</OnMatch>

			<OnMismatch>DENY</OnMismatch>



		</filter>
	</appender>
	<appender name="SystemLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>logs/SystemLog.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n - %throwable{full}
			</Pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">

			<FileNamePattern>logs/SystemLog.log.%d{yyyy-MM-dd-HH}

			</FileNamePattern>

		</rollingPolicy>
		<filter class="ch.qos.logback.core.filter.EvaluatorFilter">

			<evaluator name="app.error">

				<expression>message.contains("SYS_LOG: ")</expression>

			</evaluator>

			<OnMatch>ACCEPT</OnMatch>

			<OnMismatch>DENY</OnMismatch>



		</filter>
	</appender>
	<appender name="ApplicationLog"
		class="ch.qos.logback.core.rolling.RollingFileAppender">

		<File>logs/ApplicationLog.log</File>

		<ImmediateFlush>true</ImmediateFlush>

		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">

			<Pattern>%-40(%d{ISO8601} [%thread]) %-5level [M: %marker]
				%-47.47logger{45} :%X{host}%X{message}: %msg%n           </Pattern>

		</encoder>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">

			<FileNamePattern>logs/ApplicationLog.log.%d{yyyy-MM-dd-HH}

			</FileNamePattern>

		</rollingPolicy>

		<filter class="ch.qos.logback.core.filter.EvaluatorFilter">

			<evaluator name="app.error">

				<expression>message.contains("APP_LOG: ")</expression>

			</evaluator>

			<OnMatch>ACCEPT</OnMatch>

			<OnMismatch>DENY</OnMismatch>



		</filter>
	</appender>

	<logger name="org.bigtester" level="ERROR" />
	<root level="ERROR">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="SystemLog" />
		<appender-ref ref="ApplicationLog" />
	</root>
</configuration>